@import "./vars";

// FLEX

%flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
}

%flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

%flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

// ALIGNMENT

%flex-start {
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

%flex-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

%flex-end {
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

// PRIMARY

%primary {
  border: solid $border-width $primary;
  background-color: $primary-background;
  border-radius: $border-radius;
  color: $primary;
  overflow: hidden;
}

%primary-bright {
  border: solid $border-width $primary-bright;
  background-color: $primary-background-bright;
  color: $primary-bright;
  border-radius: $border-radius;
  overflow: hidden;
}

// SECONDARY

%secondary {
  border: solid $border-width $secondary;
  background-color: $secondary-background;
  border-radius: $border-radius;
  color: $secondary;
  overflow: hidden;
}

%secondary-bright {
  border: solid $border-width $secondary-bright;
  background-color: $secondary-background-bright;
  color: $secondary-bright;
  border-radius: $border-radius;
  overflow: hidden;
}

// TERTIARY

%tertiary {
  border: solid $border-width $tertiary;
  background-color: $tertiary-background;
  border-radius: $border-radius;
  color: $tertiary;
  overflow: hidden;
}

%tertiary-bright {
  border: solid $border-width $tertiary-bright;
  background-color: $tertiary-background-bright;
  color: $tertiary-bright;
  border-radius: $border-radius;
  overflow: hidden;
}

// FAVORITE

%favorite {
  border: solid $border-width $favorite;
  background-color: $favorite-background;
  border-radius: $border-radius;
  color: $favorite;
  overflow: hidden;
}

%favorite-bright {
  border: solid $border-width $favorite-bright;
  background-color: $favorite-background-bright;
  color: $favorite-bright;
  border-radius: $border-radius;
  overflow: hidden;
}

// SUCCESS

%success {
  border: solid $border-width $success;
  background-color: $success-background;
  border-radius: $border-radius;
  color: $success;
  overflow: hidden;
}

%success-bright {
  border: solid $border-width $success-bright;
  background-color: $success-background-bright;
  color: $success-bright;
  border-radius: $border-radius;
  overflow: hidden;
}

// ERROR

%error {
  border: solid $border-width $error;
  background-color: $error-background;
  border-radius: $border-radius;
  color: $error;
  overflow: hidden;
}

%error-bright {
  border: solid $border-width $error-bright;
  background-color: $error-background-bright;
  color: $error-bright;
  border-radius: $border-radius;
  overflow: hidden;
}
