@import "./vars";

// FLEX

%flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
}

%flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

%flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

// ALIGNMENT

%flex-start {
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

%flex-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

%flex-end {
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

// PRIMARY

%primary {
  border: solid $border-width $primary-border;
  background-color: $primary-background;
  border-radius: $border-radius;
  color: $primary-text;
  overflow: hidden;
}

%primary-highlight {
  border: solid $border-width $primary-border-highlight;
  background-color: $primary-background-highlight;
  color: $primary-text-highlight;
  border-radius: $border-radius;
  overflow: hidden;
}

%primary-extra {
  border: solid $border-width $primary-border;
  background-color: $primary-extra;
  border-radius: $border-radius;
  color: $primary-text;
  overflow: hidden;
}

%primary-extra-highlight {
  border: solid $border-width $primary-border-highlight;
  background-color: $primary-extra-highlight;
  color: $primary-text-highlight;
  border-radius: $border-radius;
  overflow: hidden;
}

// FAVORITE

%favorite {
  border: solid $border-width $favorite-border;
  background-color: $favorite-background;
  border-radius: $border-radius;
  color: $favorite-text;
  overflow: hidden;
}

%favorite-highlight {
  border: solid $border-width $favorite-border-highlight;
  background-color: $favorite-background-highlight;
  color: $favorite-text-highlight;
  border-radius: $border-radius;
  overflow: hidden;
}

// ERROR

%error {
  border: solid $border-width $error-border;
  background-color: $error-background;
  border-radius: $border-radius;
  color: $error-text;
  overflow: hidden;
}

%error-highlight {
  border: solid $border-width $error-border-highlight;
  background-color: $error-background-highlight;
  color: $error-text-highlight;
  border-radius: $border-radius;
  overflow: hidden;
}
