// GENERAL
$general-background: rgb(15, 20, 25);

// PRIMARY
$primary: rgb(90, 95, 100);
$primary-bright: lighten($primary, 15%);
$primary-background: rgb(0, 5, 10);
$primary-background-bright: rgb(10, 15, 20);

// SECONDARY
$secondary: rgb(90, 95, 100);
$secondary-bright: lighten($secondary, 15%);
$secondary-background: rgb(10, 15, 20);
$secondary-background-bright: rgb(20, 25, 30);

// TERTIARY
$tertiary: rgb(75, 175, 240);
$tertiary-bright: lighten($tertiary, 5%);
$tertiary-background: rgba($tertiary, 5%);
$tertiary-background-bright: rgba($tertiary, 15%);

// FAVORITE
$favorite: rgb(230, 180, 105);
$favorite-bright: lighten($favorite, 5%);
$favorite-background: rgba($favorite, 5%);
$favorite-background-bright: rgba($favorite, 15%);

// SUCCESS
$success: rgb(185, 205, 80);
$success-bright: lighten($success, 5%);
$success-background: rgba($success, 5%);
$success-background-bright: rgba($success, 15%);

// ERROR
$error: rgb(200, 95, 95);
$error-bright: lighten($error, 5%);
$error-background: rgba($error, 5%);
$error-background-bright: rgba($error, 15%);

// BORDER
$border-radius: 0.6rem;
$border-width: 1px;

// SIZE
$size: 4rem;
