// IMPORTS
@import "../../styles/extends";
@import "../../styles/vars";

// COMPONENT
.App {
  @extend %flex-row-nowrap;
  @extend %flex-start;
  align-items: stretch;
  width: 100%;

  &::before {
    content: "";
    flex-basis: 0;
    flex-grow: 1;
    background-color: $primary-background;
  }

  &::after {
    content: "";
    flex-basis: 0;
    flex-grow: 1;
  }
}

.AppContent {
  @extend %flex-row-nowrap;
  @extend %flex-start;

  flex-grow: 1;
  min-width: 40rem;
  max-width: 80rem;
  width: 100%;
}
