// IMPORTS
@import '../../styles/extends';
@import '../../styles/vars';

// COMPONENT
.Icon {
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: $border-width;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}
