// IMPORTS
@import "../../styles/extends";
@import "../../styles/vars";

// DEFAULT
.Button {
  @extend %flex-row-nowrap;
  @extend %flex-center;
  padding: 0 1rem;
  height: $size;
  
  @extend %secondary;
  border-radius: $border-radius;
  cursor: pointer;

  &:focus {
    @extend %secondary-bright;
  }
  
  &:hover {
    @extend %secondary-bright;
  }
}
