// IMPORTS
@import "../../styles/extends";
@import "../../styles/vars";

// DEFAULT
.Input {
  @extend %secondary;
  padding: 0 1rem;
  height: $size;

  border-radius: $border-radius;
  overflow: hidden;

  &:focus {
    @extend %secondary-bright;
  }
}
