// IMPORTS
@import "../../styles/extends";
@import "../../styles/vars";

// DEFAULT
.Switch {
  @extend %flex-row-nowrap;
  @extend %flex-center;
  padding: 0 1rem;
  height: $size;

  @extend %secondary;
  overflow: hidden;
  cursor: pointer;

  &:focus {
    @extend %secondary-bright;
  }

  &:hover {
    @extend %secondary-bright;
  }
}


// ACTIVE
.Switch.active {
  @extend %tertiary;

  &:focus {
    @extend %tertiary-bright;
  }

  &:hover {
    @extend %tertiary-bright;
  }
}
